<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profiles - CS+SG Edu Team</title>
        <link rel="stylesheet" href="/static/tutorialProfileView.css">
    </head>
    <body>
        <div class="nav">
            <a href="/tutorial/profiles/pretty">[Back to] Prettified Demo List</a>
            <a href="/tutorial/profiles">Unformatted Demo List</a>
        </div>
        <div class="content">
            <h1>CS+SG Education Team Profiles</h1>
            <h2><%= profile.firstName %> <%= profile.lastName %></h2>
            <img src="http://placekitten.com/200/300">
            <p>
                <%= profile.bio %>
            </p>
            <div>
                <b>Permalink: </b> <a href=<%= "/tutorial/profiles/id/" + profile.id + "/pretty" %>><%= "/tutorial/profiles/id/" + profile.id + "/pretty" %></a>
            </div>
        </div>
    </body>
</html>